body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.create-post-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.post{
  background: #fff;
  border: 2px solid #dbdfe4;
  position: relative;
  border-radius: 4px;
  margin: 0 !important;
  width: 100% !important;
  height: 75px !important;
}

.author-category{
  width: calc(49% - 1px); /* support for Chrome19+ and Safari6+     */
}


.title{
  margin: 0;
  width: 100%;
}

.form-element {
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}
